---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #3c0bea;
    background-image: linear-gradient(145deg, #15c4cd, #1352b4f2);
    padding: 3.5rem 0.5rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
    font-weight: bold;
    color: #0686b8;
	text-align: center;
}

.main-content {
    max-width: 64rem;
    padding: 2rem 0.5rem;
    margin: 0 auto;
    font-size: 1.05rem;
	text-align: center;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #3b4246;
}

a {
    color: #2da5fd;
    text-decoration: none;
}

hr {
	text-align: center;
	height: 2px;
	margin: 3rem 0;
	background-color: #0686b830;
}

details > summary {
  text-align: center;
  color: #45618f;
  padding: 3px;
  font-size: 16px;
  width: 140px;
  background-color: #eff3f6e0;
  border: 2px solid #e2e9eef0;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #a6a6a6;
  cursor: pointer;
  margin: 0 auto;
}

details > div {
  background-color: #eff3f6e0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  border: 2px solid #e2e9eef0;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #a6a6a6;
}
